include LICENSE THIRD_PARTY_NOTICES.md SECURITY.md CONTRIBUTING.md action.yml
include .gitignore .gitattributes
recursive-include .github *.yml *.md
recursive-include docs *.md
recursive-include tests *.py *.xml *.pkt
recursive-include scripts *.py
